.contact {
  padding: 150px 20px;
  background-color: $section-color;
  transform: skew(0, 7deg);

  display: flex;
  transition: background 0.5s ease;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  font-weight: bold;

  h1 {
    transform: skew(0, -7deg);
    color: white;
    font-size: 5.5rem;
    text-align: center;
    margin: 20px;
  }

  form {
    transform: skew(0, -7deg);
    //border: 1px solid red;
    //width: 80vw;
  }

  div.innactive {
    opacity: 0.3;
    pointer-events: none;
    transform: translateY(50px);
  }
  div.active {
    opacity: 1;
    pointer-events: all;
  }

  div.after-validation {
    opacity: 0.3;
    pointer-events: none;
  }
}

.finishField-innactive {
  opacity: 0;
  pointer-events: all;
  transform: translateY(50px);
}

#userName-field,
#email-field,
#message-field,
#finish_field {
  background-color: rgb(90, 252, 90);
  padding: 5px;
  margin: 10px auto 10px auto;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s ease;

  i {
    padding: 10px;
    cursor: pointer;
  }

  input,
  textarea {
    background: none;
    border: none;
    color: black;
    font-weight: bold;
    font-size: large;
    text-align: justify;
  }

  textarea {
    width: 100%;
    height: 100px;
    overflow: hidden;
    resize: none;
  }

  button {
    background: none;
    border: none;
  }

  ::placeholder {
    color: black;
    opacity: 0.5;
    position: relative;
    left: 10%;
    border: none;
    background: none;
  }
}

@media (max-width: 1400px) {
  .contact {
    padding: 80px 0;
    h1 {
      font-size: 4.5rem;
    }
  }
}

@media (max-width: 1000px) {
  .contact {
    padding: 80px 0;
    h1 {
      font-size: 2.5rem;
    }
  }
}
